body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}
:root {
  --active-color: #2196f3;
  --text-color: #212121;
  --caption-color: #757575;
  --main-color: #2f303a;
  --background-color: #ffffff;
  --button-color: #f5f4fa;
  --studio-color: #000000;
  --border-color: #ececec;
}
*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  padding: 0px;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.container-top {
  margin: 0 auto;
}
.container-lorem {
  margin: 0 auto;
}
.container-offer {
  margin: 0 auto;
}
.container-team {
  margin: 0 auto;
}
.container-footer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background: var(--main-color);
  width: 1600px;
  align-content: center;
  justify-content: center;
  padding-left: 215px;
}
.section {
  padding: 94px 0px 94px 0px;
}
.section-what {
  padding-top: 0px;
}
.menu {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  cursor: pointer;
  text-decoration: none;
}
.menu:hover,
.menu:focus,
.menu:active,
.contacts:hover,
.contacts:focus,
.contacts:active {
  color: var(--active-color);
}
.nav-list {
  margin: 32px 0px 32px 93px;
}
.nav-list ul {
  padding: 0px;
}
.nav-list li {
  display: inline;
}
.nav-list li:nth-child(2) {
  margin: 0px 46px 0px 46px;
}
.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--caption-color);
  cursor: pointer;
  text-decoration: none;
}
.header-contacts {
  display: inline;
}
.header-contacts li {
  margin: 0px 0px 0px 371px;
}
.header-contacts li:first-child {
  margin: 0px 25px 0px 0px;
}
.header-contacts li:last-child {
  margin: 0px 0px 0px 25px;
}
.button-filters {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--text-color);
  cursor: pointer;
  background: var(--button-color);
  border-radius: 4px;
  border: none;
}
.button-filters:hover,
.button-filters:focus,
.button-filters:active {
  background: var(--active-color);
  letter-spacing: 0.03em;
  color: var(--background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button {
  cursor: pointer;
}
.projects {
  width: 370px;
  background: var(--background-color);
  border: 1px solid #eeeeee;
}
.projects-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color);
}
.projects-type {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--caption-color);
  text-transform: capitalize;
}
.none {
  text-decoration: none;
  list-style: none;
}
.none .menu {
  margin: 32px 0px 32px 93px;
}
.logo .container {
  display: flex;
  align-items: center;
  align-content: center;
  border-bottom: 1px solid var(--border-color);
}
.web {
  color: var(--active-color);
}
.webstudio {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.94;
  letter-spacing: 0.03em;
  font-family: "Raleway";
  text-decoration: none;
  color: var(--studio-color);
  padding-left: 215px;
}
.webstudio2 {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.94;
  letter-spacing: 0.03em;
  font-family: "Raleway";
  text-decoration: none;
  color: var(--background-color);
}
.address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--background-color);
  text-decoration: none;
  padding: 10px 0px 60px 0px;
}
.footer-contacts:hover,
.footer-contacts:focus,
.footer-contacts:active {
  color: var(--active-color);
}
.footer-contacts {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}
.main-header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--background-color);
  max-width: 696px;
  margin: 0px 0px 15px 0px;
}
.solutions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 1600px;
  background: var(--main-color);
  padding-top: 200px;
  padding-bottom: 210px;
}
.button-theme {
  width: 200px;
  background: var(--active-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 41px 10px 41px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--background-color);
  border: none;
  cursor: pointer;
  margin: 15px 0px 0px 0px;
}
.lorem {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color);
  list-style: none;
}
.lorem-showcase {
  display: flex;
  justify-content: center;
  padding: 0px 15px 0px 15px;
  gap: 30px;
}
.lorem-box {
  width: 270px;
}
.description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--caption-color);
}
.second-header {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.offer-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px 15px 0px 15px;
  gap: 30px;
}
.people {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline: 15px;
  gap: 30px;
}
.employees {
  width: 270px;
  background: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  text-transform: capitalize;
}
.job-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--caption-color);
}
